<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All The Animes</title>
</head>
<body>
    <h1>All The Animes:</h1>
    <a href="/animes/new"><button>Create A New Anime</button></a>
    <hr>
    <% for(let i = 0; i < animes.length; i++) { %>
        <p>Name: <a href="/animes/<%= animes[i]._id %>"> <%= animes[i].name %> </a> </p>
        <p>Type: <%= animes[i].type %> </p>
        <p>Episodes: <%= animes[i].episodes %> </p>
        <hr>
    <% } %> 
</body>
</html>